h2{
    margin: 5px;
    padding: 10px , 5px;
    background-color: #e126d9;
}
p{
    color: purple;
    font-size: 24px;
    margin: 10px,5px;
    padding: 20px,10px;background-color: #02d08f;
}
a{
    padding: 20px,15px;
    background-color: #303030;
    font-size: 20px;
    color: black;
    border-width: 15px 10px;
    border-color: #02d08f;
    border-radius: 10px;
    
}
h1{
    background-color: cadetblue;
    border-width: 10px;
    border-style: unset;
    border-color: black;
}
div>img{
    width: 100%;
}